{% extends "base.html" %}

{% block content %}
    <div id="vm" class="container">
        <div>
            <label>标题</label>
            <div>
                <input v-model="title" name="name" type="text" placeholder="标题" style="width: 100%">
            </div>
        </div>
        <div>
            <label>内容</label>
            <div>
                <textarea v-model="content" rows="16" name="content" placeholder="内容" style="resize: none;width: 100%"></textarea>
            </div>
        </div>
        <div>
            <button @click="postblog" class="btn btn-large btn-primary"><i>Post</i></button>
        </div>
    </div>
    <script>
        function initVM(blog) {
            var vm = new Vue({
                el: '#vm',
                data: blog,
                methods: {
                    postblog: function (event) {
                        axios.post('/api/v2/bloglist', this.$data).then(function (response) {
                            setTimeout("javascript:location.href='index'", 1000);
                            alert('发表成功');
                        }).catch(function (e) {
                            alert('发表失败');
                        });
                    },
                    alerttest: function (event) {
                        alert('test');
                    }
                }
            });
        }
        $(function () {
            initVM({
                title: '',
                content: ''
            });
        })
    </script>
{% endblock %}